body {
    background-image: linear-gradient(rgb(13, 49, 90), rgb(35, 93, 180), rgb(50, 118, 245));
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 3000px;
}

h1 {
    text-align: center;
}
#formsubmit {
    text-align: center;
}
#buttons {
    text-align: center;
    margin: 0 auto;
}

button {
    margin: 10px;
}

.imghold {
    display:inline-grid;
    position: relative;
}

img {
    width: 300px;
    height: 300px;
    margin: 10px;
}
p {
    font-size: 24px;
   
}
#img-title {
    text-align: center;
}
